@import url("https://fonts.googleapis.com/css?family=Oswald:300,400|Quattrocento:400,700");
*,
*:after,
*:before {
  margin: 0;
  padding: 0; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

.skip-link, .screen-reader-text {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
  position: absolute; }
  .skip-link:focus, .screen-reader-text:focus {
    clip: auto;
    height: auto;
    left: 6px;
    top: 7px;
    width: auto;
    z-index: 100000; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 85%; }

p, pre, li, button, .button, label, table {
  font-size: 1em;
  font-size: calc(1em + 0.5vw); }

.nav_links li {
  font-size: 1em;
  font-size: calc(1em + 0.5vw); }

h4 {
  font-size: 0.6em;
  font-size: calc(0.6em + 0.5vw); }

h3 {
  font-size: 0.9708em;
  font-size: calc(0.9708em + 0.5vw); }

h2 {
  font-size: 1.57075em;
  font-size: calc(1.57075em + 0.5vw); }

h1 {
  font-size: 2.54148em;
  font-size: calc(2.54148em + 0.5vw); }

.hero_h1 {
  font-size: 4.11212em;
  font-size: calc(4.11212em + 0.5vw); }

@media screen and (max-width: 500px) {
  h4 {
    font-size: 0.6em;
    font-size: calc(0.6em + 0.5vw); }

  h3 {
    font-size: 0.9108em;
    font-size: calc(0.9108em + 0.5vw); }

  h2 {
    font-size: 1.38259em;
    font-size: calc(1.38259em + 0.5vw); }

  h1 {
    font-size: 2.09878em;
    font-size: calc(2.09878em + 0.5vw); }

  .hero_h1 {
    font-size: 3.18595em;
    font-size: calc(3.18595em + 0.5vw); } }
body {
  font-family: 'Quattrocento', serif;
  text-align: center;
  color: #363636; }

h1, h2, h3, h4, h5 {
  font-weight: 300;
  text-transform: capitalize;
  padding: 1.618rem 0 2.61792rem 0;
  font-family: 'Oswald', sans-serif; }

h2 {
  font-weight: 300; }

p, pre, li {
  line-height: 1.8em;
  padding: 0 0 1.618rem 0;
  margin: 0 auto;
  text-align: justify;
  max-width: 600px; }
  @media screen and (min-width: 1500px) {
    p, pre, li {
      max-width: 800px; } }

a {
  color: #363636;
  text-decoration: none;
  cursor: pointer; }

.row {
  width: 100%;
  margin: 0 auto;
  padding: 2.61792rem 4.2358% 0 4.2358%; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.box-50 {
  width: 41.5284%;
  margin: 0 4.2358%;
  float: left;
  overflow: hidden;
  min-height: 1px;
  margin-bottom: 4.2358%; }
  @media screen and (max-width: 500px) {
    .box-50 {
      display: inline-block;
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.box-100 {
  width: 91.5284%;
  margin: 0 4.2358%;
  float: left;
  overflow: hidden;
  min-height: 1px;
  margin-bottom: 4.2358%;
  text-align: center; }
  @media screen and (max-width: 500px) {
    .box-100 {
      display: inline-block;
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

li a {
  border-bottom: 3px solid transparent;
  transition: all .3s ease; }
  li a:hover {
    border-bottom: 3px solid #5897C4; }

.nav_links-active {
  border-bottom: 3px solid #5897C4; }

p a span, pre a span {
  background-color: transparent;
  transition: all .3s ease; }
  p a span:hover, pre a span:hover {
    background-color: #dce9f3; }

.cat_links-active {
  background-color: #dce9f3; }

.button:hover {
  border: 1px solid #5897C4;
  background-color: #5897C4;
  transition: all .3s ease;
  color: #fff; }

.border-top {
  border-top: 1px solid #e9e9e9; }

.hide {
  display: none !important; }

.blockquote {
  color: dimgray;
  padding: 2.61792rem; }

pre {
  color: #030303;
  font-family: monospace;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #e6e8eb; }

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

.content a {
  border-bottom: 3px solid #5897C4; }

img {
  width: 100% !important;
  max-width: 800px !important; }

.colorBg {
  background-color: #5897C4; }
  .colorBg a, .colorBg p, .colorBg pre, .colorBg h1, .colorBg h2, .colorBg h3, .colorBg h4, .colorBg .button, .colorBg .nav_logo, .colorBg .nav_sublogo {
    color: #fff; }
  .colorBg .button {
    border-color: #fff; }

nav .hero_h1 {
  font-weight: 400;
  padding: 0;
  text-transform: lowercase;
  line-height: 1em;
  font-family: 'Oswald', sans-serif; }
nav .nav_logo {
  font-weight: 300;
  margin: 0px auto; }
nav .nav_sublogo {
  display: block;
  padding: 1.618rem;
  font-family: 'Quattrocento';
  font-weight: 500;
  font-size: 1.25em; }
  nav .nav_sublogo p, nav .nav_sublogo pre {
    text-align: center;
    padding: 0; }
nav .nav_links {
  display: block;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  font-family: 'Oswald', sans-serif;
  padding: 2.61792rem 0;
  font-weight: 300;
  font-size: 1.25em;
  margin: 0px auto;
  width: 100%; }
  nav .nav_links ul li {
    display: inline-block;
    padding: 0 1rem;
    line-height: 0; }

.button {
  padding: 0.5rem;
  margin: 4.2358% 0 4.2358% 0;
  font-weight: 400;
  display: inline-block;
  border: 1px solid #363636; }

footer {
  padding-bottom: 2.61792rem; }
  footer p, footer pre {
    padding-bottom: 0;
    text-align: center; }

/*# sourceMappingURL=styles.css.map */
